@tailwind base;
@tailwind components;
@tailwind utilities;



.homeContainer {
  display: flex;
  align-items: center;
   gap: 100px;
   justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
  
  
}
.childContainers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 250px;
}
.childContainer1 {
  font-weight: 900;
  color: white;
  font-size: 38px;
  text-align: center;
}

.childContainer2 {
  font-weight: 400;
  color: white;
  font-size: 16px;
  font-family: monospace;
  text-align: start;
}
.name {
  color: rgba(246, 122, 6, 0.832);
}

.image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: azure;
}

/* Header */
.header{
  height: 40px;
  background-color: rgba(246, 122, 6, 0.832);
}
.headerBtns{
  display: flex;
  justify-content: center;
  font-size: 23px;
  gap: 25px;

}
/* Footer */
.footer{
  background-color: rgba(246, 122, 6, 0.832);
  height: 30px;
  display: flex;
  justify-content: center;
}
.footerItem {

  color: black;
  font-size: 18px;

}

.about {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

